body {
    font-family: 'Roboto', sans-serif;
    background: url(images/background_profile_page.svg);
    background-size: 100%;
}

/* NAVBAR STYLING HERE  */

#header {
    text-align: center;
    margin-top: 170px;
    font-size: 2.5rem;
    color: white; 
    font-weight: bold;
}

#icons-below-navbar {
    margin-top: 100px; 
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

#data-below-navbar  {
    padding-top: 50px;
    text-align: center; 
    font-size: 1.5rem;
    color: rgb(5, 204, 5); 
    font-weight: bold;
}

#header-below-navbar {
    padding-top: 35px;
    text-align: center; 
    font-size: 1.5rem;
    color: white; 
    font-weight: bold;
}

#header-above-map {
    text-align: center; 
    font-size: 1.5rem;
    color: white; 
    font-weight: bold;
}

#trashtag-map-data {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(5, 204, 5);
}


#map {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    height: 400px; 
    width: 50%; 
    border-radius: 50px 50px 50px 50px;
}

#header-above-map {
    text-align: center;
    margin-top: 170px;
    font-size: 2.5rem;
    color: white; 
}

#bottom-links {
    padding-top: 250px;
    /* margin-top: 1050px;  */
    margin-bottom: 75px;
    text-align: center; 
    font-size: 1rem;
    color: black;
    margin-left: 400px; 
    margin-right: 400px;
    font-weight: bold;
}